In [1]:
import pandas as pd

csv_input = pd.read_csv('files/dataset_random_trajectory.csv')
data = csv_input
data

        weather           x           y         z   heading      velocity
0             2  -77.030670   -1.283448  0.294200 -1.568362  7.056001e+00
1             2  -77.030670   -1.283448  0.061311 -1.568362  7.172558e+00
2             2  -77.029778   -1.283539 -0.030319 -1.568443  1.053028e+00
3             2  -77.028854   -1.283728 -0.023681 -1.568593  8.835790e-01
4             2  -77.008575   -1.288779  0.003869 -1.572756  1.548891e+00
...         ...         ...         ...       ...       ...           ...
372595        3 -101.007675 -144.219193  0.046026  1.570380  8.998161e-07
372596        3 -101.007675 -144.219193  0.046026  1.570380  1.272564e-06
372597        3 -101.007675 -144.219193  0.046026  1.570380  1.105112e-06
372598        3 -101.007675 -144.219193  0.046026  1.570380  6.874213e-08
372599        3 -101.007675 -144.219193  0.046026  1.570380  4.120853e-07

[372600 rows x 6 columns]

In [2]:
data = csv_input[list(('x', 'y', 'z', 'heading', 'velocity', 'weather'))]
data

                 x           y         z   heading      velocity  weather
0       -77.030670   -1.283448  0.294200 -1.568362  7.056001e+00        2
1       -77.030670   -1.283448  0.061311 -1.568362  7.172558e+00        2
2       -77.029778   -1.283539 -0.030319 -1.568443  1.053028e+00        2
3       -77.028854   -1.283728 -0.023681 -1.568593  8.835790e-01        2
4       -77.008575   -1.288779  0.003869 -1.572756  1.548891e+00        2
...            ...         ...       ...       ...           ...      ...
372595 -101.007675 -144.219193  0.046026  1.570380  8.998161e-07        3
372596 -101.007675 -144.219193  0.046026  1.570380  1.272564e-06        3
372597 -101.007675 -144.219193  0.046026  1.570380  1.105112e-06        3
372598 -101.007675 -144.219193  0.046026  1.570380  6.874213e-08        3
372599 -101.007675 -144.219193  0.046026  1.570380  4.120853e-07        3

[372600 rows x 6 columns]

In [3]:
data = data.rename(columns={'x':'pos.x', 'y':'pos.y', 'z':'pos.z'})
data

             pos.x       pos.y     pos.z   heading      velocity  weather
0       -77.030670   -1.283448  0.294200 -1.568362  7.056001e+00        2
1       -77.030670   -1.283448  0.061311 -1.568362  7.172558e+00        2
2       -77.029778   -1.283539 -0.030319 -1.568443  1.053028e+00        2
3       -77.028854   -1.283728 -0.023681 -1.568593  8.835790e-01        2
4       -77.008575   -1.288779  0.003869 -1.572756  1.548891e+00        2
...            ...         ...       ...       ...           ...      ...
372595 -101.007675 -144.219193  0.046026  1.570380  8.998161e-07        3
372596 -101.007675 -144.219193  0.046026  1.570380  1.272564e-06        3
372597 -101.007675 -144.219193  0.046026  1.570380  1.105112e-06        3
372598 -101.007675 -144.219193  0.046026  1.570380  6.874213e-08        3
372599 -101.007675 -144.219193  0.046026  1.570380  4.120853e-07        3

[372600 rows x 6 columns]

In [4]:
# Export the dataframe
data.to_csv("files/dataset_trajectory.csv", index=False)