In [2]:
import pandas as pd

# list all csv files only
csv_files = []

for item in range(0, 101):
    csv_files.append("files/data_27mars2024_2/random_"+str(item)+".csv")

csv_files

['files/data_27mars2024_2/random_0.csv',
 'files/data_27mars2024_2/random_1.csv',
 'files/data_27mars2024_2/random_2.csv',
 'files/data_27mars2024_2/random_3.csv',
 'files/data_27mars2024_2/random_4.csv',
 'files/data_27mars2024_2/random_5.csv',
 'files/data_27mars2024_2/random_6.csv',
 'files/data_27mars2024_2/random_7.csv',
 'files/data_27mars2024_2/random_8.csv',
 'files/data_27mars2024_2/random_9.csv',
 'files/data_27mars2024_2/random_10.csv',
 'files/data_27mars2024_2/random_11.csv',
 'files/data_27mars2024_2/random_12.csv',
 'files/data_27mars2024_2/random_13.csv',
 'files/data_27mars2024_2/random_14.csv',
 'files/data_27mars2024_2/random_15.csv',
 'files/data_27mars2024_2/random_16.csv',
 'files/data_27mars2024_2/random_17.csv',
 'files/data_27mars2024_2/random_18.csv',
 'files/data_27mars2024_2/random_19.csv',
 'files/data_27mars2024_2/random_20.csv',
 'files/data_27mars2024_2/random_21.csv',
 'files/data_27mars2024_2/random_22.csv',
 'files/data_27mars2024_2/random_23.csv',
 'files/data_27mars2024_2/random_24.csv',
 'files/data_27mars2024_2/random_25.csv',
 'files/data_27mars2024_2/random_26.csv',
 'files/data_27mars2024_2/random_27.csv',
 'files/data_27mars2024_2/random_28.csv',
 'files/data_27mars2024_2/random_29.csv',
 'files/data_27mars2024_2/random_30.csv',
 'files/data_27mars2024_2/random_31.csv',
 'files/data_27mars2024_2/random_32.csv',
 'files/data_27mars2024_2/random_33.csv',
 'files/data_27mars2024_2/random_34.csv',
 'files/data_27mars2024_2/random_35.csv',
 'files/data_27mars2024_2/random_36.csv',
 'files/data_27mars2024_2/random_37.csv',
 'files/data_27mars2024_2/random_38.csv',
 'files/data_27mars2024_2/random_39.csv',
 'files/data_27mars2024_2/random_40.csv',
 'files/data_27mars2024_2/random_41.csv',
 'files/data_27mars2024_2/random_42.csv',
 'files/data_27mars2024_2/random_43.csv',
 'files/data_27mars2024_2/random_44.csv',
 'files/data_27mars2024_2/random_45.csv',
 'files/data_27mars2024_2/random_46.csv',
 'files/data_27mars2024_2/random_47.csv',
 'files/data_27mars2024_2/random_48.csv',
 'files/data_27mars2024_2/random_49.csv',
 'files/data_27mars2024_2/random_50.csv',
 'files/data_27mars2024_2/random_51.csv',
 'files/data_27mars2024_2/random_52.csv',
 'files/data_27mars2024_2/random_53.csv',
 'files/data_27mars2024_2/random_54.csv',
 'files/data_27mars2024_2/random_55.csv',
 'files/data_27mars2024_2/random_56.csv',
 'files/data_27mars2024_2/random_57.csv',
 'files/data_27mars2024_2/random_58.csv',
 'files/data_27mars2024_2/random_59.csv',
 'files/data_27mars2024_2/random_60.csv',
 'files/data_27mars2024_2/random_61.csv',
 'files/data_27mars2024_2/random_62.csv',
 'files/data_27mars2024_2/random_63.csv',
 'files/data_27mars2024_2/random_64.csv',
 'files/data_27mars2024_2/random_65.csv',
 'files/data_27mars2024_2/random_66.csv',
 'files/data_27mars2024_2/random_67.csv',
 'files/data_27mars2024_2/random_68.csv',
 'files/data_27mars2024_2/random_69.csv',
 'files/data_27mars2024_2/random_70.csv',
 'files/data_27mars2024_2/random_71.csv',
 'files/data_27mars2024_2/random_72.csv',
 'files/data_27mars2024_2/random_73.csv',
 'files/data_27mars2024_2/random_74.csv',
 'files/data_27mars2024_2/random_75.csv',
 'files/data_27mars2024_2/random_76.csv',
 'files/data_27mars2024_2/random_77.csv',
 'files/data_27mars2024_2/random_78.csv',
 'files/data_27mars2024_2/random_79.csv',
 'files/data_27mars2024_2/random_80.csv',
 'files/data_27mars2024_2/random_81.csv',
 'files/data_27mars2024_2/random_82.csv',
 'files/data_27mars2024_2/random_83.csv',
 'files/data_27mars2024_2/random_84.csv',
 'files/data_27mars2024_2/random_85.csv',
 'files/data_27mars2024_2/random_86.csv',
 'files/data_27mars2024_2/random_87.csv',
 'files/data_27mars2024_2/random_88.csv',
 'files/data_27mars2024_2/random_89.csv',
 'files/data_27mars2024_2/random_90.csv',
 'files/data_27mars2024_2/random_91.csv',
 'files/data_27mars2024_2/random_92.csv',
 'files/data_27mars2024_2/random_93.csv',
 'files/data_27mars2024_2/random_94.csv',
 'files/data_27mars2024_2/random_95.csv',
 'files/data_27mars2024_2/random_96.csv',
 'files/data_27mars2024_2/random_97.csv',
 'files/data_27mars2024_2/random_98.csv',
 'files/data_27mars2024_2/random_99.csv',
 'files/data_27mars2024_2/random_100.csv']

In [31]:
df_csv_append = []
for file in csv_files:
    df = pd.read_csv(file)
    #df = df.head(2400)
    if(len(df)==1801):
        df = df.head(1800)
    if(len(df)==3601):
        df = df.head(3600)
    if(len(df)==5401):
        df = df.head(5400)
    df_csv_append.append(df)

In [32]:
final_csv = pd.concat(df_csv_append, ignore_index=True)
final_csv.head()

   weather           x          y         z   heading  velocity
0        1 -195.618484 -47.459961  0.349650  3.141317  7.056001
1        1 -195.618484 -47.459961  0.102928  3.141317  9.440141
2        1 -195.618469 -47.459927 -0.025018  3.141346  1.739497
3        1 -195.618454 -47.460835 -0.017636  3.141447  0.984090
4        1 -195.617020 -47.483040  0.011334 -3.140836  1.615983

In [5]:
csv_input = pd.read_csv('files/trajectory_rid.csv')
data = csv_input

In [6]:
data.head()

,Unnamed: 0,driverId,time,weekday,weather,x,y,z,heading,velocity,acc,segment,segType,laneId,distToInter,distToCarFront,distToCarBehind,time_index,trip_id
0,0,0,5,weekday5,weather2,-127.499420,-69.693611,0.294200,-3.132667,7.056001,9.800002,1,1,2,42.341680,-99.0,-99.0,0,0
1,1,0,5,weekday5,weather2,-127.499420,-69.693611,0.045322,-3.132667,10.215963,8.777671,1,1,2,42.340683,-99.0,-99.0,1,0
2,2,0,5,weekday5,weather2,-127.499443,-69.694000,-0.094448,-3.132676,1.949302,22.970354,1,1,2,42.341153,-99.0,-99.0,2,0
3,3,0,5,weekday5,weather2,-127.499458,-69.696983,-0.086442,-3.132708,0.989052,8.085343,1,1,2,42.344118,-99.0,-99.0,3,0
4,4,0,5,weekday5,weather2,-127.499374,-69.702538,-0.057380,-3.132764,1.015499,0.100543,1,1,2,42.349624,-99.0,-99.0,4,0

In [7]:
#data = final_csv[list(('x', 'y', 'z', 'heading', 'velocity', 'weather'))]

data = data[list(('segment', 'x', 'y', 'z', 'heading', 'velocity', 'acc', 'segType', 'laneId', 'time_index'))]

data.head()

,segment,x,y,z,heading,velocity,acc,segType,laneId,time_index
0,1,-127.499420,-69.693611,0.294200,-3.132667,7.056001,9.800002,1,2,0
1,1,-127.499420,-69.693611,0.045322,-3.132667,10.215963,8.777671,1,2,1
2,1,-127.499443,-69.694000,-0.094448,-3.132676,1.949302,22.970354,1,2,2
3,1,-127.499458,-69.696983,-0.086442,-3.132708,0.989052,8.085343,1,2,3
4,1,-127.499374,-69.702538,-0.057380,-3.132764,1.015499,0.100543,1,2,4

In [8]:
data = data.rename(columns={'x':'pos.x', 'y':'pos.y', 'z':'pos.z'})
data

,segment,pos.x,pos.y,pos.z,heading,velocity,acc,segType,laneId,time_index
0,1,-127.499420,-69.693611,0.294200,-3.132667,7.056001,9.800002,1,2,0
1,1,-127.499420,-69.693611,0.045322,-3.132667,10.215963,8.777671,1,2,1
2,1,-127.499443,-69.694000,-0.094448,-3.132676,1.949302,22.970354,1,2,2
3,1,-127.499458,-69.696983,-0.086442,-3.132708,0.989052,8.085343,1,2,3
4,1,-127.499374,-69.702538,-0.057380,-3.132764,1.015499,0.100543,1,2,4
...,...,...,...,...,...,...,...,...,...,...
705664,37,-2.107673,-87.902382,0.038414,1.610129,18.240329,2.216273,1,1,2419
705665,37,-2.625737,-87.921394,0.038586,1.609084,19.107646,2.423156,1,1,2420
705666,37,-3.153861,-87.940689,0.038664,1.608101,19.085621,0.143846,1,1,2421
705667,37,-3.680975,-87.959167,0.038715,1.607015,19.177736,0.263300,1,1,2422
705668,37,-4.215028,-87.977623,0.038683,1.606139,19.537514,0.999447,1,1,2423

In [9]:
data.to_csv("files/dataset_trajectory_rid.csv", index=False)

## Use this section only for add data to the global dataset "dataset_trajectory.csv"

In [4]:
csv_to_global = ["files/dataset_trajectory.csv", "files/dataset_trajectory_27mars24_2.csv"]

df_csv_global_append = []
for file in csv_to_global:
    df = pd.read_csv(file)
    df_csv_global_append.append(df)

final_global_csv = pd.concat(df_csv_global_append, ignore_index=True)
final_global_csv.to_csv("files/dataset_trajectory2.csv", index=False)