In [1]:
import pandas as pd

csv_input = pd.read_csv('files/dataset_trajectory_25mars24.csv')
data = csv_input
data

        weather          x           y         z   heading      velocity
0             3 -63.925369   88.778671  0.294200  1.572303  7.056001e+00
1             3 -63.925369   88.778671  0.058675  1.572303  7.448652e+00
2             3 -63.925369   88.778671 -0.037247  1.572303  1.099025e+00
3             3 -63.925369   88.778671 -0.031391  1.572303  8.539129e-01
4             3 -63.925385   88.778671 -0.003456  1.572304  9.860930e-01
...         ...        ...         ...       ...       ...           ...
383395        3  31.569370 -109.487709 -0.007772 -0.000663  8.616287e-07
383396        3  31.569370 -109.487709 -0.007772 -0.000663  1.136181e-06
383397        3  31.569370 -109.487709 -0.007772 -0.000663  2.412009e-07
383398        3  31.569370 -109.487709 -0.007772 -0.000663  1.992261e-06
383399        3  31.569370 -109.487709 -0.007772 -0.000663  8.340697e-07

[383400 rows x 6 columns]

In [2]:
data = csv_input[list(('x', 'y', 'z', 'heading', 'velocity', 'weather'))]
data

                x           y         z   heading      velocity  weather
0      -63.925369   88.778671  0.294200  1.572303  7.056001e+00        3
1      -63.925369   88.778671  0.058675  1.572303  7.448652e+00        3
2      -63.925369   88.778671 -0.037247  1.572303  1.099025e+00        3
3      -63.925369   88.778671 -0.031391  1.572303  8.539129e-01        3
4      -63.925385   88.778671 -0.003456  1.572304  9.860930e-01        3
...           ...         ...       ...       ...           ...      ...
383395  31.569370 -109.487709 -0.007772 -0.000663  8.616287e-07        3
383396  31.569370 -109.487709 -0.007772 -0.000663  1.136181e-06        3
383397  31.569370 -109.487709 -0.007772 -0.000663  2.412009e-07        3
383398  31.569370 -109.487709 -0.007772 -0.000663  1.992261e-06        3
383399  31.569370 -109.487709 -0.007772 -0.000663  8.340697e-07        3

[383400 rows x 6 columns]

In [3]:
data = data.rename(columns={'x':'pos.x', 'y':'pos.y', 'z':'pos.z'})
data

            pos.x       pos.y     pos.z   heading      velocity  weather
0      -63.925369   88.778671  0.294200  1.572303  7.056001e+00        3
1      -63.925369   88.778671  0.058675  1.572303  7.448652e+00        3
2      -63.925369   88.778671 -0.037247  1.572303  1.099025e+00        3
3      -63.925369   88.778671 -0.031391  1.572303  8.539129e-01        3
4      -63.925385   88.778671 -0.003456  1.572304  9.860930e-01        3
...           ...         ...       ...       ...           ...      ...
383395  31.569370 -109.487709 -0.007772 -0.000663  8.616287e-07        3
383396  31.569370 -109.487709 -0.007772 -0.000663  1.136181e-06        3
383397  31.569370 -109.487709 -0.007772 -0.000663  2.412009e-07        3
383398  31.569370 -109.487709 -0.007772 -0.000663  1.992261e-06        3
383399  31.569370 -109.487709 -0.007772 -0.000663  8.340697e-07        3

[383400 rows x 6 columns]

In [4]:
# Export the dataframe
data.to_csv("files/data_trajectory_09mars24.csv", index=False)